@page "/register"
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
        <div class="h3 text-center">Register</div>
        <div class="w-25">
            <form method="post">
                <div class="form-group">
                    <label asp-for="User.Email" class="control-label"></label>
                    <input asp-for="User.Email" class="form-control" />
                    <span asp-validation-for="User.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.Name" class="control-label"></label>
                    <input asp-for="User.Name" class="form-control" />
                    <span asp-validation-for="User.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.City" class="control-label"></label>
                    <input asp-for="User.City" class="form-control" />
                    <span asp-validation-for="User.City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.Country" class="control-label"></label>
                    <input asp-for="User.Country" class="form-control" />
                    <span asp-validation-for="User.Country" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.Password" class="control-label"></label>
                    <input asp-for="User.Password" class="form-control" />
                    <span asp-validation-for="User.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.Birthday" class="control-label"></label>
                    <input asp-for="User.Birthday" class="form-control" />
                    <span asp-validation-for="User.Birthday" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-end">
                    <a asp-page="/Index">Already have an account?</a>
                </div>
                <div class="form-group text-center mt-3 mb-4">
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>
                <div asp-validation-summary="ModelOnly" class="h6 text-danger text-center"></div>
            </form>
        </div>
    </div>
</body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
